* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  height: 100vh;
  color: #eee;
  display: flex;
  align-content: center;
  justify-content: center;
}
#root {

  font-size: 16;
  color: red;
}
